@import './var'; /* 存储了css变量 */
/* base-font倍率 */
@function baseFontMultiper($multiplier: 1) {
  @return calc(var(--base-font-size) * $multiplier);
}

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}
.base-layout {
  --wot-fs-content: var(--base-font-size);
  --wot-notice-bar-prefix-size: calc(var(--base-font-size) * var(--b1125));
  --wot-navbar-title-font-size: calc(var(--base-font-size) * var(--b1125));
  --wot-navbar-desc-font-size: var(--base-font-size);
  --wot-cell-title-fs: var(--base-font-size);
  --wot-fs-title: var(--base-font-size);
  --wot-cell-icon-size: var(--base-font-size);
  --wot-navbar-arrow-size: calc(var(--base-font-size) * var(--b1150));
  --wot-calendar-panel-title-fs: calc(var(--base-font-size) * var(--b0875));
  --wot-tabbar-item-icon-size: calc(var(--base-font-size) * var(--b1125));
  --wot-tabbar-item-title-font-size: calc(var(--base-font-size) * var(--b0625));
}
.dark {
  color: #ffffff;
  background: #1b1b1b;
}
