@import './var'; /* 存储了css变量 */

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

.base-layout {
  --wot-fs-content: var(--f16);
  --wot-fs-secondary: var(--f12);
  --wot-notice-bar-prefix-size: var(--f18);
  --wot-navbar-title-font-size: var(--f18);
  --wot-navbar-desc-font-size: var(--f16);
  --wot-cell-title-fs: var(--f16);
  --wot-fs-title: var(--f16);
  --wot-cell-icon-size: var(--f16);
  --wot-navbar-arrow-size: var(--f18);
  --wot-calendar-panel-title-fs: var(--f14);
  --wot-tabbar-item-icon-size: var(--f18);
  --wot-tabbar-item-title-font-size: var(--f10);
  --wot-search-icon-size: var(--f18);
  ----wot-search-clear-icon-size: var(--f16);
  --wot-checkbox-label-fs: var(--f16);
  --wot-radio-size: var(--f16);
  --wot-message-box-title-fs: var(--f16);
  --wot-textarea-bg: transparent;
  --wot-textarea-count-fs: var(--f14);
  --wot-textarea-icon-size: var(--f16);
  --wot-checkbox-button-font-size: var(--f14);
  --wot-button-medium-radius: var(--b4);
  /* 复选框 */
  --wot-checkbox-icon-size: var(--f16);
  --wot-checkbox-size: var(--f14);
  --wot-radio-dot-disabled-bg: #f2f2f2;
  /* 搜索相关 */
  --wot-search-input-radius: var(--b6);
  --wot-search-input-height: 40px;
  /* 按钮相关 */
  --wot-button-disabled-opacity: 0.3;
  /* 修复主题色 */
  --wot-radio-dot-checked-bg: transparent;
}
/* 暗黑模式下面的样式 */
.base-layout .wot-theme-dark {
  --wot-radio-dot-checked-bg: var(--wot-color-theme);
}
/* 基本样式 */
.base-layout {
  min-height: 100vh;
  font-size: var(--f16);
  & .wd-radio.is-dot.is-checked .wd-radio__shape::before {
    background-color: var(--wot-color-theme);
  }
  & .is-checked.is-dot.is-disabled .wd-radio__shape::before {
    background-color: #ffffff;
  }
}

.dark {
  color: #ffffff;
  background: #1b1b1b;
}

.base-layout .wd-segmented__item {
  font-size: var(--f16) !important;
}

.base-layout .btn-secondary.wd-button.is-primary {
  @apply bg-secondary text-primary;
}

.base-layout .wd-button.is-round {
  border-radius: var(--wot-button-medium-radius, 4px);
}
